# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/store_game"
# Pour SQLite en développement local :
# DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="votre_secret_tres_secure_change_moi"
NEXTAUTH_URL="http://localhost:3000"

# PayFusion (À configurer lors du déploiement)
PAYFUSION_CLIENT_ID="votre_client_id"
PAYFUSION_CLIENT_SECRET="votre_client_secret"
PAYFUSION_WEBHOOK_URL="https://votredomaine.com/api/webhooks/payfusion"
PAYFUSION_BASE_URL="https://api.payfusion.io"

# Variables publiques (accessibles côté client)
NEXT_PUBLIC_APP_NAME="Store Game"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CURRENCY="XAF"
